html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #555;
  position: relative;
}

.completed {
  background-color: #d4edda;
  text-decoration: line-through;
  color: #155724;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}

.check-icon {
  color: #28a745;
}

.delete-icon {
  color: #dc3545;
}

.buttomDiv {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 30px;
  padding: auto;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 25px;
}

button:hover {
  background-color: #0056b3;
}
